---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

{%- comment -%}
Include every page in the `teaching` collection that defines `rank`,
no matter the layout. Then sort by rank.
Make sure all ranks are numbers (not quoted) to avoid String/Integer compare errors.
{%- endcomment -%}
{% assign teaching_items = site.teaching
  | where_exp: "i", "i.rank != nil"
  | sort: "rank" %}

{% for post in teaching_items %}
  {% include archive-single.html %}
{% endfor %}
